*{
  padding: 0;
  margin: 0;
  border: 0;
}
*, *:before, *:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

.wraper {
  font-family: Inter;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  margin: 0 25px;
  padding: 0 25px;
}
@media (max-width: 767px) {
  ._container {
    margin: 0px;
  }
}
@media (max-width: 425px) {
  ._container {
    padding: 0 10px;
  }
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 130%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/* ----------header---------------------------------------------------------------- */
.header {
  width: 100%;
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
}
.header__image {
  position: relative;
  margin: 8px 40px 8px 0;
  z-index: 10;
}
.header__text,
.nav-btn,
#menu__toggle  {
  display: none;
}
.menu__list {
  display: flex;
}
.header-menu a:hover {
  border-bottom: 1.5px solid #000;
}
.header-menu a:focus {
  border-bottom: 1.5px solid #FA434B;
}
.menu__item {
  padding: 0px 50px 0px 0px;
}
.menu__link {
  color: #000;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: calc(18 / 14 * 100%);
}
.menu__link:focus {
  color: #FA434B;
}
@media (max-width: 767px) { 
  .header__container {
    justify-content: space-between;
    align-items: center;
  }
  .header__content {
    display: flex;
    align-items: center;
  }
  .header__text {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: calc(18 / 14 * 100%);
    z-index: 10;
  }
  .nav-btn {
    display: flex;
    font-size: 30px;
    background: none;
    border: none;
    padding-bottom: 3px;
    cursor: pointer;
    z-index: 10;
  }
  .menu__list {
    flex-direction: column;
    position: absolute;
    top: 0;
    transition: 1s;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background: rgb(255,183,107);
    background: -moz-linear-gradient(top,  rgb(255,183,107) 5%, rgb(255,124,0) 87%, rgb(255,127,4) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgb(255,183,107) 5%,rgb(255,124,0) 87%,rgb(255,127,4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgb(255,183,107) 5%,rgb(255,124,0) 87%,rgb(255,127,4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 90px 0;
  }
  .menu__list li {
    margin-left: 10px;
    display: flex;
  }
  .menu__list a {
    font-size: 16px;
  }
  .menu__item {
    padding: 0;
    margin-bottom: 20px;
  }
  .menu__btn{
    display: flex;
    align-items: center;
    z-index: 10;
  } 
  #menu__toggle:checked ~ .menu__list  {
    right: 0;
    width: 130px;
  }
}
@media (max-width: 425px) {
  .header__image {
    margin: 8px 10px 8px 0;
  }
}
/* ----------section_one---------------------------------------------------------------- */
.photo_bilet {
  display: block;
}
.photo_bilet img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  overflow: hidden;
  object-position: top;
}
/* ----------section__two---------------------------------------------------------------- */
.section__two {
  margin-bottom: 50px;
  background-color: #FBFBFB;
}
.open_container {
  padding: 0 0 0 25px;
  margin: 0 0 0 25px;
}
.open__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.2px;
  padding: 0 0 0 50px;
  line-height: calc(43 / 36 * 100%);
}
.buy__bilet {
  color: #000;
}
.sena__bilet {
  padding: 39px 50px 38px 50px;
  background-color: #FA434B;
}
.sena__bilet a {
  color: #FBFBFB;
  padding: 35px 0;
}
@media (max-width: 656px) {
  .buy__bilet {
    padding: 20px 0;
  }
  .open__body{
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  .sena__bilet {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 415px) {
  .open_container {
    padding: 0;
    margin: 0;
  }
  .open__body {
    font-size: 25px;
  }
}
/* ----------section__three---------------------------------------------------------------- */
.section__three {
  margin-bottom: 100px;
}
.date__container {
}
.date__body {
  display: flex;
  flex-wrap: wrap;
}
.date__content{
  flex: 0 1 50%;
}
.date_title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  margin: 0 0 20px 0;
  line-height: calc(21 / 18 * 100%);
}
.date_item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 41px 0;
}
.date_item li {
  padding: 12px 20px;
  border: 2px solid #FA434B;
  border-radius: 22.5px;
  cursor: pointer;
}
.date_item li:last-child {
  margin: 0 0 0 20px;
}
.date_item a {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: calc(21 / 18 * 100%);
}
.dates__items {
  list-style-type: none;
}
.date_text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  width: 400px;
  line-height: calc(18 / 14 * 100%);
  margin-bottom: 50px;
}
.date_podval {
  display: flex;
  flex-wrap: wrap;
}
.date_podval li {
  list-style-type: none;
  border-radius: 22.5px;
}
.date_podval li:first-child {
  padding: 12px 24px;
  background-color: #FA434B;
}
.date_podval li:last-child {
  padding: 12px 21px;
  background-color: #C4C4C4;
  margin: 0 0 0 20px;
}
.dates_podvalsic {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: calc(21 / 18 * 100%);
}
.dates_podvals {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: calc(21 / 18 * 100%);
}
.date__contentes {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.group_photo img {
  width: 100%;
}
@media (max-width: 970px) {
  .date__body {
    justify-content: center;
  }
  .date__body > *:not(:last-child) {
    margin-bottom: 70px;
  }
}
@media (max-width: 900px) {
  .date__content {
    flex: 0 1 auto;
  }
}
@media (max-width: 425px) {
  .date__content {
    flex: 1 1 100%;
  }
  .date_item {
    width: 300px;
    margin: 0 0 20px 0;
  }
  .date_item li:last-child {
    margin: 10px 0 0 0;
  }
  .date_text {
    width: 100%;
    margin-bottom: 20px;
  }
  .date_podval {
    width: 300px;
  }
  .date_podval li:last-child {
    margin: 15px 0 0 0;
  }
}